@model IEnumerable<CatShelterMVC.Models.Cat>
@{
    ViewBag.Title = "Details";
}

<h2>Cat Details</h2>
@foreach (var item in Model)
{
    <div class="alert alert-info">
        <h3>Name - @item.Name</h3>
        <h4>Color - @item.Color</h4>
        <h5>City - @item.City</h5>
    </div>
    <div>
        @Html.ActionLink("Back to list", "Index", "Cat")
    </div>

}